{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            
            <section class="languages">
             <ul>   
                 {% for detail in exp.details  %}
                    <li class="idiom">{{detail}}</li>
                 {% endfor %}
             </ul>
           </section>
            
            <p class="technologies">Technologies Used: <span class="degree">{{exp.technologies_used}}</span></p>
        </div>
       
    {% endfor %}
</section>
{% endif %}
