{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            
            <section class="languages">
             <ul>   
                 {% for detail in exp.details  %}
                    <li class="idiom">{{detail}}</li>
                 {% endfor %}
             </ul>
           </section>


            <section>
                 <p class="degree">Technologies Used:</p>
                 {% for tech in exp.technologies_used  %}
                    <span class="idiom">{{tech}}</span>
                 {% endfor %}
           </section>
     </div>
       
    {% endfor %}
</section>
{% endif %}
