{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            
            <section class="languages">
             <ul>   
                 {% for detail in exp.details  %}
                    <li class="idiom">{{detail}}</li>
                 {% endfor %}
             </ul>
           </section>


            <section style="display: flex; flex-direction: row; gap: 0.25rem;">
                 <span class="technologies">Stack:</span>
                 <div style="display: flex; flex-direction: row; gap: 0.25rem;">
                     {% for tech in exp.technologies_used  %}
                        <span class="details">{{tech}}</span>
                     {% endfor %}
                 </div>
           </section>
     </div>
       
    {% endfor %}
</section>
{% endif %}
